flask
flask-cors
langchain
langchain-community
langchain-text-splitters
pdfplumber
chromadb
fastembed
cachetools
unstructured[all]
python-pptx 
openpyxl
python-docx

# Production server
gunicorn==22.0.0
gevent==24.2.1